body
{
    background-color: #0a1992;;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

a:link
{
	color: #ccc;
	text-decoration: none;
}

a:visited
{
	color: 	#FFEFD5;
	text-decoration: none;
}

a:hover
{
	color: #FFE4B5;
	text-decoration: underline;
}

a:active
{
	color: #FFDAB9;
	text-decoration: none;
}

#logo
{
    width: 100%;
    height: 50px;
    background-color: #000537;;
    font-size: 36px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0px 5px 0px;
    letter-spacing: 3px;
    border-bottom: 2px solid #007bff;
    text-shadow: 1px 1px 0 #007bff,-1px 1px 0 #007bff,-1px -1px 0 #007bff,1px -1px 0 #007bff;
}

#container
{
    margin-left: auto;
    margin-right: auto;
    background-color: #3366CC;
    width: 900px;
    padding: 10px;
    border-left: 2px solid #007bff;
    border-right: 2px solid #007bff;
}   

#spis
{
	width: 802px;
	padding-left: 100px;

}

ol > li >ul > li:before
{
    color: #485b3b;
    content:"☢";
    margin-right: 5px;
}

.scrollup
{
    width: 64px;
    height: 64px;
    text-decoration: none;
    background-color:#0a1992;;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: none;
}

.icon
{
    color: #FFFFE0;
    width: 802px;
    height: auto;
    text-align: left;
    clear:both;
    border-top: 0.5px solid #1E90FF;
    padding: 20px;
    padding-left: 80px;
}
